/*Media Queries
Code by Proton*/

@media (max-width: 576px){
    .all{display: none;}
    .mobile{display: block!important;}
}
@media only screen and (min-device-width : 577px) and (max-device-width : 629px){
    h3{
    font-size: 18px;
    left: 25%;
}
    .press{}
    .crossbar{
}
    .btn-press{
    clip-path: circle(14% at 50% 50%);
}
    .btn-press p{
    font-size: 13px;
    padding-top: 7%;
    letter-spacing: 0px;
}
    .content{}
    .content-circle{}
    .divingbar{}
    .divingbar-1{
        width: 44%;
        height: 65%;
        margin-top: -23%;
        transform: rotate(20deg);
        margin-left: 6%;
    }
    .divingbar-2{
        width: 48%;
        height: 62%;
        margin-top: -41%;
        transform: rotate(52deg);
        margin-left: 13%;
    }
    .divingbar-3{
        width: 48%;
        height: 66%;
        margin-top: -36%;
        transform: rotate(90deg);
        margin-left: 26.5%;
    }
    .divingbar-4{
        width: 50%;
        height: 63%;
        margin-top: -30%;
        transform: rotate(127deg);
        margin-left: 40%;
    }
    .divingbar-5{
        width: 47%;
        height: 69%;
        margin-top: -21%;
        transform: rotate(162deg);
        margin-left: 51%;
    }
    .divingbar i{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .divingbar a{
        font-size: 13px;
    }
    .content-diving-3{
    left: 8%;
    top: 1%;
}
    .content-diving-1{
    top: 1%;
    left: 0%;
}
    .content-diving-2{
    left: 3%;
    top: -3%;
}
    .content-diving-4{
    left: 13%;
    top: -1%;
}
    .content-diving-5{
    left: 17%;
    top: 3%;
}
}
@media only screen and (min-device-width : 630px) and (max-device-width : 676px){
    h3{
    font-size: 18px;
    left: 25%;
}
    .press{}
    .crossbar{
}
    .btn-press{
    clip-path: circle(14% at 50% 50%);
}
    .btn-press p{
    font-size: 13px;
    padding-top: 7%;
    letter-spacing: 0px;
}
    .content{}
    .content-circle{}
    .divingbar{}
    .divingbar-1{
        width: 44%;
        height: 65%;
        margin-top: -23%;
        transform: rotate(20deg);
        margin-left: 6%;
    }
    .divingbar-2{
        width: 48%;
        height: 62%;
        margin-top: -41%;
        transform: rotate(52deg);
        margin-left: 13%;
    }
    .divingbar-3{
        width: 48%;
        height: 66%;
        margin-top: -36%;
        transform: rotate(90deg);
        margin-left: 26.5%;
    }
    .divingbar-4{
        width: 50%;
        height: 63%;
        margin-top: -30%;
        transform: rotate(127deg);
        margin-left: 40%;
    }
    .divingbar-5{
        width: 47%;
        height: 69%;
        margin-top: -21%;
        transform: rotate(162deg);
        margin-left: 51%;
    }
    .divingbar i{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .divingbar a{
        font-size: 13px;
    }
    .content-diving-3{
    left: 10%;
    top: 5%;
}
    .content-diving-1{
    top: 6%;
    left: 6%;
}
    .content-diving-2{
    left: 7%;
    top: 2%;
}
    .content-diving-4{
    left: 15%;
    top: 4%;
}
    .content-diving-5{
    left: 16%;
    top: 6%;
}
}
@media only screen and (min-device-width : 677px) and (max-device-width : 767px){
    h3{
    font-size: 18px;
    left: 30%;
}
    .press{}
    .crossbar{
}
    .btn-press{
    clip-path: circle(14% at 50% 50%);
}
    .btn-press p{
    font-size: 13px;
    padding-top: 7%;
    letter-spacing: 0px;
}
    .content{
    height: 88.1%;
}
    .content-circle{}
    .divingbar{}
    .divingbar-1{
        width: 44%;
        height: 65%;
        margin-top: -23%;
        transform: rotate(20deg);
        margin-left: 6%;
    }
    .divingbar-2{
        width: 48%;
        height: 62%;
        margin-top: -41%;
        transform: rotate(52deg);
        margin-left: 13%;
    }
    .divingbar-3{
        width: 48%;
        height: 66%;
        margin-top: -36%;
        transform: rotate(90deg);
        margin-left: 26.5%;
    }
    .divingbar-4{
        width: 50%;
        height: 63%;
        margin-top: -30%;
        transform: rotate(127deg);
        margin-left: 40%;
    }
    .divingbar-5{
        width: 47%;
        height: 69%;
        margin-top: -21%;
        transform: rotate(163deg);
        margin-left: 51%;
    }
    .divingbar i{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .divingbar a{
        font-size: 13px;
    }
    .content-diving-3{
    left: 8%;
    top: 10%;
}
    .content-diving-1{
    top: 10%;
    left: 8%;
}
    .content-diving-2{
    left: 8%;
    top: 6%;
}
    .content-diving-4{
    left: 15%;
    top: 7%;
}
    .content-diving-5{
    left: 15%;
    top: 10%;
}
}