*{margin: 0; padding: 0;}
body{
	font-family: 'roboto', sans-serif;
}

/*css menu*/
.menu{
	width: 100%;
	height: 64px;

}
.menu nav{
	margin: 0;
	padding: 0;
	background: white;
	height: 64px;
	width: 100%;
	box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.75);
}

.menu img{
	width: auto;
	height: 64px;
}

.menu ul{
	height: 64px;
}

.menu li:hover{
	height: 64px;
	border-bottom: 2px solid #1668B2;
}

.menu li:hover a.nav-link{
	color: #1668B2;
}

.menu a.nav-link{
	text-transform: uppercase;
	margin-top: 12px;
	font-size: 14px;
	font-weight: 500;
}

.menu a.navbar-brand{
	margin: 0;
	padding: 0;
	float: left;
	margin: 0 3% 0 18%;
}

@media (max-width: 576px){
	.menu a.navbar-brand{
		margin: 0;
		padding: 0;
		float: left;
		margin-left: 5%;
	}

	.menu ul{
		height: 64px;
		margin-top: 0!important;
	}

	.menu li{
		background: #1668B2;
		border-bottom: 1px solid #ccc0c0;
	}

	.menu li:hover a.nav-link{
		color: white;
	}
	
	.menu li:hover{
		border-bottom: 1px solid #ccc0c0;
	}

	.menu a.nav-link{
		margin-top: 12px;
		text-transform: none;
		font-size: 15px;
		font-weight: 500;
		color: white!important;
		padding: 0px 15px 8px 20px;
	}

	.menu .navbar-toggler{
		margin-right: 5%;
	}
}

@media only screen and (min-device-width : 577px) and (max-device-width : 767px){
	.menu a.navbar-brand{
		margin: 0;
		padding: 0;
		float: left;
		margin-left: 5%;
	}

	.menu ul{
		height: 64px;
		margin-top: 0!important;
	}

	.menu li{
		background: #1668B2;
		border-bottom: 1px solid #ccc0c0;
	}

	.menu li:hover a.nav-link{
		color: white;
	}
	
	.menu li:hover{
		border-bottom: 1px solid #ccc0c0;
	}

	.menu a.nav-link{
		margin-top: 12px;
		text-transform: none;
		font-size: 15px;
		font-weight: 500;
		color: white!important;
		padding: 0px 15px 8px 20px;
	}

	.menu .navbar-toggler{
		margin-right: 5%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
	.menu a.navbar-brand{
		margin: 0;
		padding: 0;
		float: left;
		margin-left: 5%;
	}

	.menu ul{
		height: 64px;
		margin-top: 0!important;
	}

	.menu li{
		background: #1668B2;
		border-bottom: 1px solid #ccc0c0;
	}

	.menu li:hover a.nav-link{
		color: white;
	}
	
	.menu li:hover{
		border-bottom: 1px solid #ccc0c0;
	}

	.menu a.nav-link{
		margin-top: 12px;
		text-transform: none;
		font-size: 15px;
		font-weight: 500;
		color: white!important;
		padding: 0px 15px 8px 20px;
	}

	.menu .navbar-toggler{
		margin-right: 5%;
	}
}

@media only screen and (min-device-width : 992px) and (max-device-width : 1199px){
	.menu a.navbar-brand{
		margin: 0;
		padding: 0;
		float: left;
		margin: 0 1% 0 10%;
	}
}

@media (min-width: 1920px){
	.menu a.navbar-brand{
		margin: 0;
		padding: 0;
		float: left;
		margin: 0 3% 0 27%;
	}
}
/*end css menu*/


/*css body slide*/
.body_slide{
	width: 100%;
}

.carousel-item.active{
	position: relative;
}

.layer_1{
	height: auto;
	width: 39%;
	position: absolute;
	z-index: 2;
	top: 24%;
	left: 10%;
	animation: move_right 2s forwards;
}

@-webkit-keyframes move_right{
	from{transform: translateX(-30%); opacity: 0}
	to{transform: translateX(0); opacity: 1}
}

.layer_2{
	height: auto;
	width: 39%;
	position: absolute;
	z-index: 2;
	top: 24%;
	right: 10%;
	animation: move_left 2s forwards;
}

@-webkit-keyframes move_left{
	from{transform: translateX(30%); opacity: 0}
	to{transform: translateX(0); opacity: 1}
}

.p1{
	text-transform: uppercase;
	color: white;
	font-size: 33px;
}

.p2{
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 33px;
	margin-top: -5px;
	margin-bottom: 11px;
}

.p3{
	color: white;
	font-size: 19px;
}

.a1{
	text-decoration: none;
	color: white;
	border: 1px solid white;
	display: block;
	width: 40%;
	font-size: 18px;
	text-transform: uppercase;
	height: 40px;
	margin-left: 94px;
	text-align: center;
	padding-top: 5px;
	border-radius: 21px;
	margin-top: 43px;
	cursor: pointer;
}

.a1:hover{
	background: white;
	color: #020F44;
	border: 1px solid #020F44;
	text-decoration: none;
}

@media (max-width: 576px){
	.layer_1{
		height: auto;
		width: 40%;
		position: absolute;
		z-index: 2;
		top: 15%;
		left: 10%;
	}

	.layer_2{
		height: auto;
		width: 40%;
		position: absolute;
		z-index: 2;
		top: 15%;
		right: 10%;
	}

	.p1{
		text-transform: uppercase;
		color: white;
		font-size: 15px;
	}

	.p2{
		text-transform: uppercase;
		color: white;
		font-size: 13px;
		margin-top: -14px;
		font-weight: normal;
	}

	.p3{
		color: white;
		font-size: 19px;
		display: none;
	}

	.a1{
		text-decoration: none;
		color: white;
		border: 1px solid white;
		display: block;
		width: 93%;
		font-size: 12px;
		text-transform: uppercase;
		height: 26px;
		text-align: center;
		padding-top: 3px;
		border-radius: 21px;
		cursor: pointer;
		margin: 0 0 0 0;
	}

	.a1:hover{
		background: white;
		color: #020F44;
		border: 1px solid #020F44;
		text-decoration: none;
	}
}

@media only screen and (min-device-width : 577px) and (max-device-width : 767px){
	.layer_1{
		height: auto;
		width: 40%;
		position: absolute;
		z-index: 2;
		top: 18%;
		left: 10%;
	}

	.layer_2{
		height: auto;
		width: 40%;
		position: absolute;
		z-index: 2;
		top: 18%;
		right: 10%;
	}

	.p1{
		text-transform: uppercase;
		color: white;
		font-size: 22px;
	}

	.p2{
		text-transform: uppercase;
		color: white;
		font-size: 22px;
		margin-top: -14px;
		font-weight: normal;
	}

	.p3{
		color: white;
		font-size: 19px;
		display: none;
	}

	.a1{
		text-decoration: none;
		color: white;
		border: 1px solid white;
		display: block;
		width: 73%;
		font-size: 17px;
		text-transform: uppercase;
		height: 29px;
		text-align: center;
		padding-top: 2px;
		border-radius: 21px;
		cursor: pointer;
		margin: 0 0 0 0;
	}

	.a1:hover{
		background: white;
		color: #020F44;
		border: 1px solid #020F44;
		text-decoration: none;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
	.layer_1{
		height: auto;
		width: 40%;
		position: absolute;
		z-index: 2;
		top: 14%;
		left: 10%;
	}

	.layer_2{
		height: auto;
		width: 40%;
		position: absolute;
		z-index: 2;
		top: 14%;
		right: 10%;
	}

	.p1{
		text-transform: uppercase;
		color: white;
		font-size: 20px;
	}

	.p2{
		text-transform: uppercase;
		color: white;
		font-size: 20px;
		margin-top: -14px;
		font-weight: normal;
	}

	.p3{
		color: white;
		font-size: 16px;
	}

	.a1{
		text-decoration: none;
		color: white;
		border: 1px solid white;
		display: block;
		width: 62%;
		font-size: 15px;
		text-transform: uppercase;
		height: 29px;
		text-align: center;
		padding-top: 3px;
		border-radius: 21px;
		cursor: pointer;
		margin: 0 0 0 0;
	}

	.a1:hover{
		background: white;
		color: #020F44;
		border: 1px solid #020F44;
		text-decoration: none;
	}
}

@media only screen and (min-device-width : 992px) and (max-device-width : 1199px){
	.layer_1{
		height: auto;
		width: 40%;
		position: absolute;
		z-index: 2;
		top: 18%;
		left: 10%;
	}

	.layer_2{
		height: auto;
		width: 40%;
		position: absolute;
		z-index: 2;
		top: 18%;
		right: 10%;
	}

	.p1{
		text-transform: uppercase;
		color: white;
		font-size: 23px;
	}

	.p2{
		text-transform: uppercase;
		color: white;
		font-size: 23px;
		margin-top: -14px;
		font-weight: normal;
	}

	.p3{
		color: white;
		font-size: 18px;
	}

	.a1{
		text-decoration: none;
		color: white;
		border: 1px solid white;
		display: block;
		width: 55%;
		font-size: 17px;
		text-transform: uppercase;
		height: 30px;
		text-align: center;
		padding-top: 3px;
		border-radius: 21px;
		cursor: pointer;

		margin: 0 0 0 0;
	}

	.a1:hover{
		background: white;
		color: #020F44;
		border: 1px solid #020F44;
		text-decoration: none;
	}
}
/*end css body slide*/


/*css body introduce*/
.body_introduce{
	width: 100%;
}

.body_introduce .row{
	width: 100%;
	margin: 0;
	padding: 0;
}

.body_introduce .col-sm-8 .row{
	width: 100%;
	margin: 0;
	padding: 0;
	background: url(images/bg-intro.png) center;
	background-size: cover;
}

.body_introduce .col-sm-8{
	margin: auto;
	padding: 0;
	width: 100%;
}

.body_introduce .col-sm-6{
	margin: 0;
	padding: 0;
	margin-top: 5%;
	width: 100%;
}

.body_introduce .col-sm-6:nth-child(1) {
    border-right: 1.5px solid #E6E6E6;
}

.body_introduce .col-sm-6:nth-child(2) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.body_introduce h1{
	text-transform: uppercase;
	display: block;
	margin: 20px 0 30px 0;
}

.body_introduce p.intro_p{
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
	text-align: justify;
	padding-right: 20px;
}

.body_introduce .one_logo{
	width: 33.3%;
}

.one_logo img{
	max-width: 60%;
	display: block;
	padding-top: 15%;
	margin: 0 15% 10% 20%;
}

.one_logo p{
	display: block;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 0;
}

.body_intro_more{
	display: block;
	width: 14%;
	height: 40px;
	text-align: center;
	background: #8DC63F;
	padding-top: 6px;
	text-decoration: none;
	font-size: 17px;
	color: white;
	border-radius: 30px;
	margin: 2% 0 5% 43%;
	border: 2px solid #8DC63F;
}

a.body_intro_more:hover {
    text-decoration: none;
    color: #8DC63F;
    background: white;
    border: 2px solid #8DC63F;
}

@media (max-width: 576px){
	.body_introduce .col-sm-6:nth-child(1) {
	    border-right: 0px solid #E6E6E6;
	}

	.body_introduce h1{
		text-transform: uppercase;
		display: block;
		margin: 10px 0 20px 15px;
	}

	.body_introduce p.intro_p{
		display: block;
		margin-bottom: 20px;
		font-size: 14px;
		text-align: justify;
		padding: 0 15px 0 15px;
	}

	.body_introduce .one_logo{
		width: 50%;
	}

	.one_logo img{
		max-width: 60%;
		display: block;
		padding-top: 15%;
		margin: 0 15% 10% 20%;
	}

	.one_logo p{
		display: block;
		font-size: 14px;
		text-align: center;
		font-weight: bold;
		margin-bottom: 0;
	}

	.body_intro_more{
		display: block;
		width: 37%;
		height: 40px;
		text-align: center;
		background: #8DC63F;
		padding-top: 6px;
		text-decoration: none;
		font-size: 17px;
		color: white;
		border-radius: 30px;
		margin: auto;
		margin-bottom: 10%;
		margin-top: 10%;
		border: 2px solid #8DC63F;
	}
}

@media only screen and (min-device-width : 577px) and (max-device-width : 767px){
	.body_introduce h1{
		text-transform: uppercase;
		display: block;
		margin: 10px 0 20px 0px;
	}

	.body_introduce p.intro_p{
		display: block;
		margin-bottom: 20px;
		font-size: 14px;
		text-align: justify;
		padding: 0 15px 0 0px;
	}

	.body_introduce .one_logo{
		width: 50%;
		margin-top: 25%;
	}

	.one_logo img{
		max-width: 60%;
		display: block;
		padding-top: 15%;
		margin: 0 15% 10% 20%;
	}

	.one_logo p{
		display: block;
		font-size: 14px;
		text-align: center;
		font-weight: bold;
		margin-bottom: 0px;
	}

	.body_intro_more{
		display: block;
		width: 25%;
		height: 40px;
		text-align: center;
		background: #8DC63F;
		padding-top: 6px;
		text-decoration: none;
		font-size: 17px;
		color: white;
		border-radius: 30px;
		margin: auto;
		margin-bottom: 10%;
		margin-top: 5%;
		border: 2px solid #8DC63F;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
	.body_introduce h1{
		text-transform: uppercase;
		display: block;
		margin: 10px 0 20px 0px;
	}

	.body_introduce p.intro_p{
		display: block;
		margin-bottom: 20px;
		font-size: 14px;
		text-align: justify;
		padding: 0 15px 0 0px;
	}

	.body_introduce .one_logo{
		width: 50%;
	}

	.one_logo img{
		max-width: 60%;
		display: block;
		padding-top: 15%;
		margin: 0 15% 10% 20%;
	}

	.one_logo p{
		display: block;
		font-size: 14px;
		text-align: center;
		font-weight: bold;
		margin-bottom: 0px;
	}

	.body_intro_more{
		display: block;
		width: 25%;
		height: 40px;
		text-align: center;
		background: #8DC63F;
		padding-top: 6px;
		text-decoration: none;
		font-size: 17px;
		color: white;
		border-radius: 30px;
		margin: auto;
		margin-bottom: 10%;
		margin-top: 5%;
		border: 2px solid #8DC63F;
	}
}

@media only screen and (min-device-width : 992px) and (max-device-width : 1199px){
	.body_introduce h1{
		text-transform: uppercase;
		display: block;
		margin: 10px 0 45px 0px;
	}

	.body_introduce p.intro_p{
		display: block;
		margin-bottom: 20px;
		font-size: 14px;
		text-align: justify;
		padding: 0 15px 0px 0px;
	}

	.body_introduce .one_logo{
		width: 50%;
	}

	.one_logo img{
		max-width: 49%;
		display: block;
		padding-top: 15%;
		margin: 0 15% 5% 25%;
	}

	.one_logo p{
		display: block;
		font-size: 14px;
		text-align: center;
		font-weight: bold;
		margin-bottom: 0px;
	}

	.body_intro_more{
		display: block;
		width: 20%;
		height: 40px;
		text-align: center;
		background: #8DC63F;
		padding-top: 6px;
		text-decoration: none;
		font-size: 17px;
		color: white;
		border-radius: 30px;
		margin: auto;
		margin-bottom: 10%;
		margin-top: 3%;
		border: 2px solid #8DC63F;
	}
}
/*end css body introduce*/


/*css multi sllide*/
.body_multi_slide{
	background: #000000d4;
	margin-bottom: 5%;
}

.body_multi_slide .carousel-control-prev-icon{
	background-image: url(images/prev-icon-multi-slide.png);
	width: 30px;
	height: 50px;
	margin-right: 60%;
}

.body_multi_slide .carousel-control-next-icon{
	background-image: url(images/next-icon-multi-slide.png);
	width: 30px;
	height: 50px;
	margin-left: 60%;
}

.carousel {
  width: 100%;
}

.slide-box {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .slide-box img {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .slide-box img {
    -ms-flex: 0 0 33.3333%;
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px)
{
  .slide-box img {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: .5rem;
}

.slide_img_1{
	position: relative;
}

.slide_name_1{
	position: absolute;
	left: 30px;
	text-align: center;
	z-index: 2;
	bottom: 15%;
	background: #000000db;
	color: white;
	width: 20%;
	height: 60px;
	padding-top: 5px;
	border-radius: 30px;
	text-decoration: none;
	border: 1px solid #000000db;
}

.slide_name_1:hover{
	text-decoration: none;
	background: #ffffffc2;
	color: black;
	border: 1.5px solid #000000db;
	font-weight: 500;
}

.slide_name_2:hover{
	text-decoration: none;
	background: #ffffffc2;
	color: black;
	border: 1.5px solid #000000db;
	font-weight: 500;
}

.slide_name_3:hover{
	text-decoration: none;
	background: #ffffffc2;
	color: black;
	border: 1.5px solid #000000db;
	font-weight: 500;
}

.slide_name_4:hover{
	text-decoration: none;
	background: #ffffffc2;
	color: black;
	border: 1.5px solid #000000db;
	font-weight: 500;
}

.slide_img_2{
	position: relative;
}

.slide_name_2{
	position: absolute;
	border: 1px solid #000000db;
	left: 320px;
	text-align: center;
	z-index: 2;
	bottom: 15%;
	background: #000000db;
	color: white;
	width: 20%;
	height: 60px;
	padding-top: 5px;
	border-radius: 30px;
	text-decoration: none;
}

.slide_img_3{
	position: relative;
}

.slide_name_3{
	border: 1px solid #000000db;
	position: absolute;
	left: 600px;
	text-align: center;
	z-index: 2;
	bottom: 15%;
	background: #000000db;
	color: white;
	width: 20%;
	height: 60px;
	padding-top: 5px;
	border-radius: 30px;
	text-decoration: none;
}

.slide_img_4{
	position: relative;
}

.slide_name_4{
	border: 1px solid #000000db;
	position: absolute;
	left: 885px;
	text-align: center;
	z-index: 2;
	bottom: 15%;
	background: #000000db;
	color: white;
	width: 20%;
	height: 60px;
	padding-top: 5px;
	border-radius: 30px;
	text-decoration: none;
}

@media (max-width: 576px){
	.slide_name_1, .slide_name_2, .slide_name_3, .slide_name_4{
		left: 20%;
		width: 60%;
	}

	.body_multi_slide{
		
margin-bottom: 15%;
	}
}

@media only screen and (min-device-width : 577px) and (max-device-width : 767px){
	.slide_name_1, .slide_name_3{
		left: 5%;
		width: 40%;
	}

	.slide_name_2, .slide_name_4{
		left: 55%;
		width: 40%;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
	.slide_name_1{
		left: 4%;
		width: 25%;
		bottom: 10%;
	}

	.slide_name_2{
		left: 37%;
		width: 25%;
		bottom: 10%;
	}

	.slide_name_3{
		left: 71%;
		width: 25%;
		bottom: 10%;
	}
}

@media only screen and (min-device-width : 992px) and (max-device-width : 1199px){
	.slide_name_1{
		left: 2.5%;
		width: 20%;
		bottom: 10%;
	}

	.slide_name_2{
		left: 27.5%;
		width: 20%;
		bottom: 10%;
	}

	.slide_name_3{
		left: 52.5%;
		width: 20%;
		bottom: 10%;
	}

	.slide_name_4{
		left: 77.5%;
		width: 20%;
		bottom: 10%;
	}
}
/*end css multi slide*/


/*css body_customer*/
.body_customer{
	width: 100%;
	background: url(images/bg-customer.png) center;
	background-size: cover;
	margin-bottom: 5%;
}

.bg_customer{
	width: 100%;
	background: #000000a1;
}

.body_customer .row{
	width: 100%;
	margin: 0;
}

.body_customer .col-sm-8{
	margin: auto;
	padding: 0;
}

.body_customer .col-sm-6{
	margin: 70px 0px;
	opacity: 0;
}

.body_customer .col-sm-6:nth-child(1) {
    border-right: 2px solid white;
    padding: 0;
    padding-right: 24px;
}

.body_customer .col-sm-6:nth-child(2) {
    padding: 0;
    padding-left: 24px;
}

.body_customer h1{
	color: white;
	text-transform: uppercase;
	font-size: 30px;
	margin-bottom: 50px;
}

.all_customer_1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.move_right{
	animation: ctmmr 1s forwards;
}

@-webkit-keyframes ctmmr{
	from{transform: translateX(-50%); opacity: 0;}
	to{transform: translateX(0%); opacity: 1;}
}

.move_left{
	animation: ctmml 1s forwards;
}

@-webkit-keyframes ctmml{
	from{transform: translateX(50%); opacity: 0;}
	to{transform: translateX(0%); opacity: 1;}
}

.all_customer_1 img{
	width: 23%;
	margin-bottom: 15px;
}

.all_customer_2{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.all_customer_2 img{
	width: 23%;
	margin-bottom: 15px;
}


@media (max-width: 576px){
	.body_customer .col-sm-6{
		opacity: 1;
	}

	.move_left, .move_right{
		animation: none;
	}

	.body_customer{
		width: 100%;
		background: url(images/bg-customer.png) center;
		background-size: cover;
		margin-bottom: 15%;
	}
	
	.body_customer .col-sm-6:nth-child(1) {
	    border-right: 0px solid white;
	    padding: 0 15px;
	    margin-top: 10%;
	}

	.body_customer .col-sm-6:nth-child(2) {
	    padding: 0 15px;
	    margin-top: -5%;
	}

	.body_customer h1{
		color: white;
		text-transform: uppercase;
		font-size: 30px;
		margin-bottom: 35px;
	}

	.all_customer_1{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.all_customer_1 img{
		width: 48%;
		margin-bottom: 15px;
	}

	.all_customer_2{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.all_customer_2 img{
		width: 48%;
		margin-bottom: 15px;
	}
}

@media only screen and (min-device-width : 577px) and (max-device-width : 767px){
	.body_customer .col-sm-6{
		opacity: 1;
	}

	.move_left, .move_right{
		animation: none;
	}
	
	.body_customer{
		width: 100%;
		background: url(images/bg-customer.png) center;
		background-size: cover;
		margin-bottom: 15%;
	}
	
	.body_customer .col-sm-6:nth-child(1) {
	    border-right: 0px solid white;
	    padding: 0 15px;
	    margin-top: 5%;
	    margin-bottom: 5%;
	}

	.body_customer .col-sm-6:nth-child(2) {
	    padding: 0 15px;
	    margin-top: 5%;
	}

	.body_customer h1{
		color: white;
		text-transform: uppercase;
		font-size: 23px;
		margin-bottom: 35px;
	}

	.all_customer_1{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.all_customer_1 img{
		width: 48%;
		margin-bottom: 15px;
	}

	.all_customer_2{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 31%;
	}

	.all_customer_2 img{
		width: 48%;
		margin-bottom: 15px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
	.body_customer{
		width: 100%;
		background: url(images/bg-customer.png) center;
		background-size: cover;
		margin-bottom: 15%;
	}
	
	.body_customer .col-sm-6:nth-child(1) {
	    border-right: 0px solid white;
	    padding: 0 15px;
	    margin-top: 5%;
	    margin-bottom: 5%;
	}

	.body_customer .col-sm-6:nth-child(2) {
	    padding: 0 15px;
	    margin-top: 5%;
	}

	.body_customer h1{
		color: white;
		text-transform: uppercase;
		font-size: 23px;
		margin-bottom: 35px;
	}

	.all_customer_1{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.all_customer_1 img{
		width: 48%;
		margin-bottom: 15px;
	}

	.all_customer_2{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 26.5%;
	}

	.all_customer_2 img{
		width: 48%;
		margin-bottom: 15px;
	}
}
@media only screen and (min-device-width : 992px) and (max-device-width : 1199px){
	.all_customer_2{
		margin-top: 26%;
	}
}
/*end css body_customer*/


/*css body news*/
.body_news{
	margin-bottom: 5%;
	width: 100%;
}

.body_news .col-sm-8{
	margin: auto;
	padding: 0;
}

.body_news .row{
	padding: 0;
	width: 100%;
	margin: 0;
}

.body_news .col-sm-6:nth-child(1){
	padding: 0;
	padding-right: 10px;
}

.body_news .col-sm-6:nth-child(2){
	padding: 0;
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.b_thumbnail_news{
	max-width: 100%;
	display: block;
}

.b_time{
	background: #8DC63F;
	width: 55px;
	height: 55px;
	margin: 13px 13px 0 0;
	float: left;
}

.b_day{
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 0px;
}

.b_month{
	font-size: 13px;
	color: white;
	text-align: center;
}

.b_news_name{
	text-decoration: none;
	color: black;
	font-weight: 500;
	font-size: 17px;
	margin: 13px 0;
	display: block;
}

.b_news_name:hover {
    color: #bb0f0f;
    text-decoration: none;
}

.b_describe{
	font-size: 14px;
	text-align: justify;
	margin: 10px 0;
}

.one_news{
	width: 49%;
}

.s_thumbnail_news{
	max-width: 100%;
	display: block;
}

.s_time{
	background: #8DC63F;
	width: 50px;
	height: 40px;
	margin: 10px 5px 10px 0;
	float: left;
}

.s_day{
	font-size: 17px;
	color: white;
	text-align: center;
	margin-bottom: -5px;
}

.s_month{
	font-size: 12px;
	color: white;
	text-align: center;
	display: block;
}

.s_news_name{
	text-decoration: none;
	color: black;
	display: block;
	font-weight: 500;
	font-size: 13px;
	margin: 10px 0px;
}

.s_news_name:hover {
    color: #BB0F0F;
    text-decoration: none;
}

.body_news_more{
	display: block;
	width: 18%;
	height: 40px;
	text-align: center;
	background: white;
	padding-top: 6px;
	text-decoration: none;
	font-size: 17px;
	color: #8DC63F;
	border-radius: 30px;
	margin: 2% 0 5% 41%;
	border: 2px solid #8DC63F;
}

a.body_news_more:hover {
    text-decoration: none;
    color: white;
    background: #8DC63F;
    border: 2px solid #8DC63F;
}

@media (max-width: 576px){
	.body_news .col-sm-6:nth-child(1){
		padding: 0;
	}

	.body_news .col-sm-6:nth-child(2){
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0 5px;
	}

	.b_time{
		background: #8DC63F;
		width: 55px;
		height: 55px;
		margin: 10px 10px 0 5px;
		float: left;
	}

	.b_news_name{
		text-decoration: none;
		color: black;
		font-weight: 500;
		font-size: 17px;
		margin: 13px 5px;
		display: block;
	}

	.b_describe{
		font-size: 14px;
		text-align: justify;
		margin: 10px 10px 20px 10px;
		line-height: 19px;
	}

	.one_news{
		width: 49%;
	}

	.s_time{
		display: none;
	}

	.s_news_name{
		text-decoration: none;
		color: black;
		display: block;
		font-weight: 500;
		font-size: 15px;
		margin: 8px 0px;
		line-height: 17px;
	}

	.body_news_more{
		display: block;
		width: 25%;
		height: 35px;
		text-align: center;
		background: white;
		padding-top: 3px;
		text-decoration: none;
		font-size: 16px;
		color: #8DC63F;
		border-radius: 30px;
		margin: 2% 0 5% 38%;
		border: 2px solid #8DC63F;
	}
}

@media only screen and (min-device-width : 577px) and (max-device-width : 767px){
	.body_news .col-sm-6:nth-child(1){
		padding: 0;
		padding-right: 10px;
	}

	.body_news .col-sm-6:nth-child(2){
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-left: 10px;
	}

	.b_time{
		display: none;
	}

	.b_news_name{
		text-decoration: none;
		color: black;
		font-weight: 500;
		font-size: 15px;
		margin: 10px 0;
		line-height: 19px;
		display: block;
	}

	.b_describe{
		font-size: 14px;
		text-align: justify;
		margin: 5px 0;
		line-height: 17px;
		display: block;
	}

	.one_news{
		width: 49%;
	}

	.s_time{
		display: none;
	}

	.s_news_name{
		text-decoration: none;
		color: black;
		display: block;
		font-weight: 500;
		font-size: 13px;
		margin: 10px 0px;
		line-height: 16px;
	}

	.body_news_more{
		display: block;
		width: 25%;
		height: 35px;
		text-align: center;
		background: white;
		padding-top: 3px;
		text-decoration: none;
		font-size: 16px;
		color: #8DC63F;
		border-radius: 30px;
		margin: 2% 0 5% 38%;
		border: 2px solid #8DC63F;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
	.body_news .col-sm-6:nth-child(1){
		padding: 0;
		padding-right: 10px;
	}

	.body_news .col-sm-6:nth-child(2){
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-left: 10px;
	}

	.b_time{
		display: none;
	}

	.b_news_name{
		text-decoration: none;
		color: black;
		font-weight: 500;
		font-size: 15px;
		margin: 10px 0;
		line-height: 19px;
		display: block;
	}

	.b_describe{
		font-size: 14px;
		text-align: justify;
		margin: 5px 0;
		line-height: 17px;
		display: block;
	}

	.one_news{
		width: 49%;
	}

	.s_time{
		display: none;
	}

	.s_news_name{
		text-decoration: none;
		color: black;
		display: block;
		font-weight: 500;
		font-size: 13px;
		margin: 10px 0px;
		line-height: 16px;
	}

	.body_news_more{
		display: block;
		width: 25%;
		height: 35px;
		text-align: center;
		background: white;
		padding-top: 3px;
		text-decoration: none;
		font-size: 16px;
		color: #8DC63F;
		border-radius: 30px;
		margin: 2% 0 5% 38%;
		border: 2px solid #8DC63F;
	}
}

@media only screen and (min-device-width : 992px) and (max-device-width : 1199px){
	.b_news_name{
		text-decoration: none;
		color: black;
		font-weight: 500;
		font-size: 16px;
		margin: 16px 5px;
		display: block;
	}

	.b_describe{
		font-size: 14px;
		text-align: justify;
		margin: 10px 0;
		line-height: 19px;
	}

	.s_news_name{
		text-decoration: none;
		color: black;
		display: block;
		font-weight: 500;
		font-size: 13px;
		margin: 7px 0px;
		line-height: 16px;
	}
}

@media (min-width: 1920px){
	.b_news_name{
		text-decoration: none;
		color: black;
		font-weight: 500;
		font-size: 16px;
		margin: 25px 55px;
		display: block;
	}

	.b_describe{
		font-size: 14px;
		text-align: justify;
		margin: 10px 55px 0 0;
		line-height: 19px;
	}

	.s_news_name{
		text-decoration: none;
		color: black;
		display: block;
		font-weight: 500;
		font-size: 13px;
		margin: 13px 37px 0 0;
		line-height: 16px;
	}
}

/*end css body news*/


/*css body_audio*/
.body_audio{
	width: 100%;
	background: url(images/bg-audio.png) center;
	background-size: cover;
	margin-bottom: 5%;
}

.bg_audio{
	width: 100%;
	background: #000000c9;
}

.body_audio .col-sm-8{
	margin: auto;
	padding: 0;
}

.body_audio .row{
	width: 100%;
	margin: 0;
	padding: 0;
}

.body_audio .col-sm-6:nth-child(1){
	margin: 70px 0;
	border-right: 1.5px solid white;
	padding: 0;
	padding-right: 15px;
	opacity: 0;
}

.body_audio .col-sm-6:nth-child(2){
	padding: 0;
	padding-left: 15px;
	margin: 70px 0;
	opacity: 0;
}

.body_audio h1{
	font-size: 40px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.big_video_audio{
	position: relative;
	width: 100%;
	height: 264px;
	margin-bottom: 40px;
	overflow: hidden; 
}

.b_video_thumbnail{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
}

.gradient-big-video-audio{
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	background-image: -webkit-linear-gradient(#ffffff00 60%, black 100%);
	width: 100%;
	height: 100%;
}

.b_video_icon{
	position: absolute;
	z-index: 3;
	top: 40%;
	left: 43%;
}

.b_video_name{
	position: absolute;
	left: 6%;
	top: 85%;
	z-index: 4;
	color: white;
	font-weight: 500;
}

a.b_video_name:hover {
    text-decoration: none;
    color: #4be4dd;
}

.video_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 85px;
	margin-bottom: 15px;
}

.one_s_video{
	position: relative;
	width: 32%;
	height: 100%;
}

.s_video_thumbnail{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	max-width: 100%;
}

.s_video_icon{
	position: absolute;
	top: 27%;
	left: 35%;
	z-index: 2;
	max-width: 30%;
}

@media (max-width: 576px){
	.body_audio .col-sm-6:nth-child(1), .body_audio .col-sm-6:nth-child(2){
		opacity: 1;
		padding: 0 5px;
		margin-bottom: 0px;
		border-right: 0px solid;
	}

	.move_left, .move_right{
		animation: none;
	}

	.body_audio h1{
		font-size: 40px;
		color: white;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	.big_video_audio{
		position: relative;
		width: 100%;
		height: 264px;
		margin-bottom: 30px;
	}

	.b_video_thumbnail{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.gradient-big-video-audio{
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		background-image: -webkit-linear-gradient(#ffffff00 60%, black 100%);
		width: 100%;
		height: 100%;
	}

	.b_video_icon{
		position: absolute;
		z-index: 3;
		top: 40%;
		left: 43%;
	}

	.b_video_name{
		position: absolute;
		left: 6%;
		top: 75%;
		z-index: 4;
		color: white;
		font-weight: 500;
	}

	a.b_video_name:hover {
	    text-decoration: none;
	    color: #4be4dd;
	}

	.video_list{
		width: 100%;
		margin-bottom: 15px;
		height: 400px;
	}

	.one_s_video{
		position: relative;
		width: 55%;
		height: 120px;
		margin: auto;
		margin-bottom: 20px;
	}

	.s_video_thumbnail{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
	}

	.s_video_icon{
		position: absolute;
		top: 27%;
		left: 35%;
		z-index: 2;
		max-width: 30%;
	}
}

@media only screen and (min-device-width : 577px) and (max-device-width : 767px){
	.body_audio .col-sm-6:nth-child(1), .body_audio .col-sm-6:nth-child(2){
		opacity: 1;
		margin-bottom: 0px;
	}

	.move_left, .move_right{
		animation: none;
	}

	.body_audio h1{
		font-size: 40px;
		color: white;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	.big_video_audio{
		position: relative;
		width: 100%;
		height: 140px;
		margin-bottom: 30px;
	}

	.b_video_thumbnail{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		max-width: 100%;
		height: 100%;
	}

	.gradient-big-video-audio{
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		background-image: -webkit-linear-gradient(#ffffff00 30%, black 100%);
		width: 100%;
		height: 100%;
	}

	.b_video_icon{
		position: absolute;
		z-index: 3;
		top: 39%;
		left: 37%;
	}

	.b_video_name{
		position: absolute;
		left: 6%;
		top: 60%;
		z-index: 4;
		color: white;
		font-weight: 500;
	}

	a.b_video_name:hover {
	    text-decoration: none;
	    color: #4be4dd;
	}

	.video_list{
		width: 100%;
		margin-bottom: 15px;
		height: 250px;
	}

	.one_s_video{
		position: relative;
		width: 55%;
		height: 70px;
		margin: auto;
		margin-bottom: 0;
		margin-top: 0;
	}

	.s_video_thumbnail{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
	}

	.s_video_icon{
		position: absolute;
		top: 27%;
		left: 35%;
		z-index: 2;
		max-width: 30%;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
	.body_audio .col-sm-6:nth-child(1){
		margin: 70px 0;
		border-right: 1.5px solid white;
		padding: 0;
		padding-right: 15px;
		opacity: 1;
	}

	.move_left, .move_right{
		animation: none;
	}

	.body_audio .col-sm-6:nth-child(2){
		padding: 0;
		padding-left: 15px;
		margin: 70px 0;
		opacity: 1;
	}

	.body_audio h1{
		font-size: 40px;
		color: white;
		text-transform: uppercase;
		margin-bottom: 30px;
	}

	.big_video_audio{
		position: relative;
		width: 100%;
		height: 146px;
		margin-bottom: 30px;
	}

	.b_video_thumbnail{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		max-width: 100%;
	}

	.gradient-big-video-audio{
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		background-image: -webkit-linear-gradient(#ffffff00 30%, black 100%);
		width: 100%;
		height: 100%;
	}

	.b_video_icon{
		position: absolute;
		z-index: 3;
		top: 33%;
		left: 39%;
	}

	.b_video_name{
		position: absolute;
		left: 6%;
		top: 65%;
		z-index: 4;
		color: white;
		font-weight: 500;
	}

	a.b_video_name:hover {
	    text-decoration: none;
	    color: #4be4dd;
	}

	.video_list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		height: 47px;
	}

	.one_s_video{
		position: relative;
		width: 32%;
		height: 100%;
	}

	.s_video_thumbnail{
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		max-width: 100%;
	}

	.s_video_icon{
		position: absolute;
		top: 17%;
		left: 35%;
		z-index: 2;
		max-width: 30%;
	}
}

@media only screen and (min-device-width : 992px) and (max-device-width : 1199px){
	.big_video_audio{
		height: 199px;
	}

	.b_video_name{
		top: 75%;
	}

	.gradient-big-video-audio{
		background-image: -webkit-linear-gradient(#ffffff00 40%, black 100%);
	}
}

@media (min-width: 1920px){
	.big_video_audio{
		height: 379px;
	}

	.b_video_icon{	
		top: 46%;	
		left: 46%;
	}
	
	.s_video_thumbnail{
		width: 199px;
	}

	.video_list{
		height: 121px;
	}

	.b_video_thumbnail{
		width: 623px;
	}
}
/*end css body_audio*/


/*css body map*/
.body_map{
	width: 100%;
	height: 500px;
	margin-bottom: 5%;
}

.body_map iframe{
	width: 100%;
	height: 100%;
}

@media (max-width: 576px){
	.body_map{
		height: 450px;
		margin-top: 15%;
	}
}

@media only screen and (min-device-width : 577px) and (max-device-width : 767px){
	.body_map{
		height: 350px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
	.body_map{
		height: 400px;
	}
}
/*end css body map*/


/*css body_contact*/
.body_contact{
	width: 100%;
	margin-bottom: 5%;
}

.body_contact .col-sm-8{
	margin: auto;
	padding: 0;
}

.body_contact h1{
	color: #1668B2;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}

.contact_form{
	width: 100%;
}

.contact_form .row{
	width: 100%;
	margin: 0;
	padding: 0;
}

.contact_form .col-sm-9{
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.contact_form input {
    width: 49%;
    margin-bottom: 10px;
    border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 1px solid rgba(0,0,0,.15);
}

.contact_form .col-sm-3{
	padding: 0;
}

.contact_form .col-sm-3 a{
	text-decoration: none;
	width: 65%;
	margin: auto;
	display: block;
	margin-top: 15%;
	border-radius: 30px;
	text-transform: uppercase;
}

@media (max-width: 576px){
	.body_contact h1{
		display: block;
		margin: 15% 2% 4% 2%;
	}

	.contact_form input{
		width: 75%;
		margin: auto;
	}

	.contact_form .col-sm-3 a{	
		width: 50%;	
		margin-top: 5%;
	}

}

@media only screen and (min-device-width : 577px) and (max-device-width : 767px){
	.contact_form .col-sm-3 a{
		width: 90%;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
	.contact_form .col-sm-3 a{
		width: 90%;
	}
}
/*end body_contact*/


/*css footer*/
footer{
	width: 100%;
	padding: 0;
	margin: 0;
}

footer .col-sm-8{
	padding: 0;
	margin: auto;
}

footer .row{
	width: 100%;
	margin: 0;
	padding: 0;
}

footer .top .row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.one_contact{
	margin: 30px 0;
	width: 33%;
}

.one_contact img{
	width: 25%;
	display: block;
	float: left;
}

.one_contact .contact_name{
	color: #9C9C9C;
	text-transform: uppercase;
	font-size: 17px;
	display: block;
	margin: 8px 0 5px 80px;
	font-weight: 500;
}

.one_contact .contact_content{
	color: #118FDF;
	font-size: 17px;
	font-weight: 500;
	display: block;
	margin-left: 80px;
}

footer .top{
	background: #F6F6F6;
}

footer .bot{
	background: #0C3F6D;
}

.footer_logo{
	width: 15%;
	margin: 10px 0;
}

.footer_address{
	width: 70%;
	margin: 10px 0;
}

.footer_other_contact{
	width: 15%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 10px 0;
	align-items: center;
}

.footer_logo img{
	width: 80%;
	padding-top: 5px;
}

.footer_address p{
	color: white;
	font-size: 15px;
	text-align: center;
	display: block;
	padding-top: 25px;
}

.footer_other_contact a{
	display: block;
	width: 33%;
}

.footer_other_contact img{
	display: block;
	width: 100%;
}

@media (max-width: 576px){
	.one_contact{
		width: 75%;
		margin: 30px 60px 0px 60px;
	}

.one_contact:nth-child(3) {
    margin-bottom: 20px;
}

	.one_contact img{
		width: 25%;
		display: block;
		float: left;
	}

	.one_contact .contact_name{
		color: #9C9C9C;
		text-transform: uppercase;
		font-size: 17px;
		display: block;
		margin: 8px 0 5px 80px;
		font-weight: 500;
	}

	.one_contact .contact_content{
		color: #118FDF;
		font-size: 17px;
		font-weight: 500;
		display: block;
		margin-left: 80px;
	}

	.footer_logo{
		width: 100%;
		margin: 0;
	}

	.footer_address{
		width: 100%;
		margin: 0;
	}

	.footer_other_contact{
		width: 35%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: auto;
		align-items: center;
		padding: 15px;
	}

	.footer_logo img{
		width: 30%;
		display: block;
		margin: auto;
	}

	.footer_address p{
		color: white;
		font-size: 15px;
		text-align: center;
		display: block;
		padding-top: 25px;
		width: 80%;
		margin: auto;
	}

	.footer_other_contact a{
		display: block;
		width: 33%;
	}

	.footer_other_contact img{
		display: block;
		width: 100%;
	}	
}

@media only screen and (min-device-width : 577px) and (max-device-width : 767px){
	.one_contact{
		margin: 30px 0;
		width: 33%;
	}

	.one_contact img{
		width: 25%;
		display: block;
		float: none;
	}

	.one_contact .contact_name{
		color: #9C9C9C;
		text-transform: uppercase;
		font-size: 15px;
		display: block;
		margin: 10px 0 5px 0px;
		font-weight: 500;
	}

	.one_contact .contact_content{
		color: #118FDF;
		font-size: 15px;
		font-weight: 500;
		display: block;
		margin-left: 0;
	}

	.footer_logo{
		width: 100%;
	}

	.footer_address{
		width: 100%;
		margin: 10px 0;
	}

	.footer_other_contact{
		width: 20%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: auto;
		padding-bottom: 10px;
	}

	.footer_logo img{
		width: 15%;
		padding-top: 5px;
		display: block;
		margin: auto;
	}

	.footer_address p{
		color: white;
		font-size: 15px;
		text-align: center;
		display: block;
		margin: auto;
		padding-top: 0;
	}

	.footer_other_contact a{
		display: block;
		width: 33%;
	}

	.footer_other_contact img{
		display: block;
		width: 100%;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
	.one_contact img{
		width: 25%;
		display: block;
		float: none;
	}

	.one_contact .contact_name{
		color: #9C9C9C;
		text-transform: uppercase;
		font-size: 17px;
		display: block;
		margin: 10px 0;
		font-weight: 500;
	}

	.one_contact .contact_content{
		color: #118FDF;
		font-size: 17px;
		font-weight: 500;
		display: block;
		margin-left: 0;
		margin-top: -10px;
	}

	.footer_logo{
		width: 15%;
		margin-top: 50px;
	}

	.footer_address{
		width: 70%;
		margin: 10px 0;
	}

	.footer_other_contact{
		width: 15%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 10px 0;
		align-items: center;
	}

	.footer_logo img{
		width: 80%;
		padding-top: 5px;
	}

	.footer_address p{
		color: white;
		font-size: 15px;
		text-align: center;
		display: block;
		padding-top: 25px;
		width: 90%;
		margin: auto;
	}

	.footer_other_contact a{
		display: block;
		width: 33%;
	}

	.footer_other_contact img{
		display: block;
		width: 100%;
	}
}

@media only screen and (min-device-width : 992px) and (max-device-width : 1199px){
	.footer_logo img{
		margin-top: 20px;
	}
}

@media (min-width: 1920px){
	.footer_address p{
		margin-top: 20px;
	}
}
/*end css footer*/