/*Media Queries
Code by Proton*/

@media only screen and (min-device-width : 992px) and (max-device-width : 1900px){
    .top-menu .collapse.navbar-collapse{height: 75px;}
    .top-menu ul{height: 100%;}
    .top-menu li{width: 100px;}
    .top-menu nav .collapse .nav-item .nav-link{
        margin: 0;
        text-align: center;
    }
    .top-menu nav .collapse .nav-item .nav-link.bc1{margin-left: -43px;}
    .top-menu nav .collapse .nav-item .nav-link.fas{margin-left: 18px;}
    .top-menu-search{right: 230px;}
    .top-content{ top: 24%;}
    .intro-top-left img{margin-top: 0;}
    .intro-bot-right b{margin-top: 0; }
    .intro{height: 1165px;}
    .intro-bot{margin-top: 50px;}
    .explore-top-left p{margin-bottom: 30px; }
    .testimonial-top-left .carousel-control-prev{left: 420px;}
    .testimonial-bot-right ol{left: 500px; }
    .footer-top .images img{width: 190px;}
    .one-footer-bot-2 p{ margin-bottom: 10px;}
}
@media only screen and (max-device-width: 991px) and (min-device-width: 577px){
    header .left,header .right{display: none;}
    header .mid{width: 100%;}
    .top-menu .navbar-toggler{
        position: absolute;
        left: 20px;
        z-index: 5;
        background: white;
        transition: 0s;
    }
    .top-menu nav{
        width: 100%;
        background: #FF866B;
    }
    .top{height: 480px;}
    .top-menu .navbar-collapse{margin-top: 75px;transition: 0s;}
    .top-menu ul{
        margin-top: 0!important;
        height: 100%;
        background: #FF866B;
    }
    .top-menu li{margin: -10px 0;}
    .top-menu nav .collapse .nav-item .nav-link:hover{color: white;}
    .top-menu nav .collapse .nav-item .nav-link.bc1{margin-left: 30px;}
    .top-menu .navbar-nav .dropdown-menu{
        background: #FF866B;
        border: 0px;
        padding: 0;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .top-menu .dropdown-item{
        color: white;
        padding: 0;
        margin-left: 50px;
        height: 35px;
        line-height: 35px;
    }
    .top-menu-search{
        top: 350px;
        z-index: 5;
        left: 80px;
        width: 250px;
        height: 45px;
    }
    .top-slide .carousel,.top-slide .carousel-inner,.top-slide .carousel-item,.top-slide img{height: 100%;}
    .top-content{
        width: 60%;
        left: 20%;
    }
    .top-content b{font-size: 17px;}
    .top-content p{
        font-size: 30px;
        width: 60%;
        margin: 45px auto;
    }
    .intro-top-left img{margin-top: 0;}
    .intro-top-left a{
        margin: 10px auto;
        display: block;
    }
    .intro-bot-right b{margin-top: 0;margin-bottom: 5px;}
    .intro-bot-right h2{ font-size: 20px;}
    .one-accordion h5{
        margin: 13px 0;
        font-size: 16px;
    }
    .intro{
        height: initial;
        margin-bottom: 50px;
    }
    .one-accordion{ height: 40px!important;}
    .down{height: 170px!important;}
    .services h2{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .one-product{
        width: 50%;
        height: 230px;
        margin-bottom: 20px;
    }
    .one-product:nth-child(2n) {border-right: 0px;}
    .services{height: 750px;}
    .product2-content{margin-top: 20px;}
    .services .btn.btn-light{margin-top: 145px;}
    .explore{height: 600px;}
    .explore-top{border-bottom: 0px;height: 380px;}
    .explore-top-left{padding: 0;}
    .explore-top-right img{margin-top: 94px;padding-left: 20px;}
    .explore-top-left a{text-align: center;}
    .explore-top-left p{padding: 0;margin-bottom: 25px;}
    .explore-top-left h2{font-size: 17px;margin-bottom: 20px;}
    .explore-bot-one{width: 33.3%;}
    .explore-bot{margin-top: 0;padding: 0 15px;height: 220px;}
    .explore-bot-one h1{font-size: 40px;}
    .explore-bot-one h3{font-size: 16px;}
    .testimonial-top{margin: 0; height: 903px;}
    .testimonial-top-left{width: 100%;}
    .testimonial-top-right{width: 100%;margin: 0;}
    .testimonial{height: 1950px;}
    .testimonial-top-left .carousel-control-next{
        top: 380px;
        right: 35px;
        z-index: 50;
    }
        .testimonial-top-left .carousel-control-prev{
        top: 380px;
        left: 600px;
        z-index: 50;
    }
    .testimonial-center.col-sm-8{max-width: 100%;}
    .testimonial .h5b{    position: relative;
    top: 50px;}
    .testimonial .h2b{    margin-top: 75px;}
    .testimonial-bot-left{width: 100%;height: 326px;}
    .testimonial-bot-right{width: 100%;margin: 0;height: 326px;}
    .testimonial-bot-right ol{left: 620px;}
    .testimonial-bot{height: 652px;}
    .testimonial .subscribe input{
        font-size: 25px;
        padding: 0 15px;
        position: inherit;
        border: 0px;
        border-radius: 0;
        border-bottom: 1px solid #FF866B;
    }
    .testimonial .subscribe a{
        position: inherit;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .testimonial .subscribe{
        margin-top: 50px;
        height: 140px;
        padding: 15px;
        border-bottom: 0px;
    }
    .testimonial-bot-right .carousel-item h2{padding-right: 20px; margin-top: -15px;}
    .footer-top .back-to-top{
        right: 39%;
        bottom: 10%;
    }
    .footer-top .images img{
        height: 100%;
        width: 100%;
    }
    .footer-top .images a{display: block;float: left;height: 89px;width: 47%;margin: 2% 1.5%;}
    .footer-top .images{
        display: block;
        padding: 0 15px;
        width: 100%;
        height: 210px;
    }
    footer{height: 1260px;}
    .footer-top{height: 450px;}
    .one-footer-bot{padding: 50px 0;}
    .footer-bot .col-sm-8{max-width: 90%;}
}

@media (max-width: 576px){
    header .left,header .right{display: none;}
    header .mid{width: 100%;}
    .top-menu .navbar-toggler{
        position: absolute;
        left: 20px;
        z-index: 5;
        background: white;
        transition: 0s;
    }
    .top-menu nav{
        width: 100%;
        background: #FF866B;
    }
    .top{height: 480px;}
    .top-menu .navbar-collapse{margin-top: 75px;transition: 0s;}
    .top-menu ul{
        margin-top: 0!important;
        height: 100%;
        background: #FF866B;
    }
    .top-menu li{margin: -10px 0;}
    .top-menu nav .collapse .nav-item .nav-link:hover{color: white;}
    .top-menu nav .collapse .nav-item .nav-link.bc1{margin-left: 30px;}
    .top-menu .navbar-nav .dropdown-menu{
        background: #FF866B;
        border: 0px;
        padding: 0;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .top-menu .dropdown-item{
        color: white;
        padding: 0;
        margin-left: 50px;
        height: 35px;
        line-height: 35px;
    }
    .top-menu-search{
        top: 350px;
        z-index: 5;
        left: 80px;
        width: 250px;
        height: 45px;
    }
    .top-slide .carousel,.top-slide .carousel-inner,.top-slide .carousel-item,.top-slide img{height: 100%;}
    .top-slide .carousel-control-prev,.top-slide .carousel-control-next{display: none;}
    .top-content{
        width: 100%;
        left: 0;
    }
    .top-content b{font-size: 17px;}
    .top-content p{
        font-size: 30px;
        margin-top: 45px;
    }
    .intro{height: initial;}
    .intro-sidebar{display: none;}
    .intro-top{margin: 0;}
    .intro-top .but1{margin-left: 0;}
    .intro-top-right{display: none;}
    .intro-bot{margin: 50px 0;}
    .intro-bot-left{padding: 0;}
    .intro-bot-right h2{font-size: 35px;}
    .down{height: 170px!important;}
    .services h2{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .one-product{
        width: 50%;
        height: 230px;
        margin-bottom: 20px;
    }
    .one-product:nth-child(2n) {border-right: 0px;}
    .services{height: 930px;}
    .product2-content{margin-top: 20px;}
    .services .btn.btn-light{margin-top: 280px;}
    .explore-top{border-bottom: 0px;}
    .explore-top-left{ padding: 0 15px;}
    .explore-top-right img{margin-top: 70px;}
    .explore-top-left a{text-align: center;}
    .explore-top-left p{padding: 0 ;}
    .explore-top-left h2{font-size: 35px;}
    .explore-bot-one{width: 33.3%;}
    .explore-bot{margin-top: 100px; padding: 0 15px;}
    .explore-bot-one h1{font-size: 40px;}
    .explore-bot-one h3{font-size: 16px;}
    .testimonial-top{margin: 0; height: 903px;}
    .testimonial-top-left{width: 100%;}
    .testimonial-top-right{width: 100%;margin: 0;}
    .testimonial{height: 1950px;}
    .testimonial-top-left .carousel-control-next{
        top: 430px;
        right: 15px;
        display: none;
    }
    .testimonial-top-left .carousel-control-prev{
        top: 430px;
        left: 285px;
        display: none;
    }
    .testimonial .h5b{
        position: relative;
        top: 70px;
        }
    .testimonial .h2b{    margin-top: 75px;}
    .testimonial-bot-left{width: 100%;height: 326px;}
    .testimonial-bot-right{width: 100%;margin: 0;height: 326px;}
    .testimonial-bot-right ol{left: 270px;}
    .testimonial-bot{height: 652px;}
    .testimonial .subscribe input{
        font-size: 25px;
        padding: 0 15px;
        position: inherit;
        border: 0px;
        border-radius: 0;
        border-bottom: 1px solid #FF866B;
    }
    .testimonial .subscribe a{
        position: inherit;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .testimonial .subscribe{
        margin-top: 50px;
        height: 140px;
        padding: 15px;
        border-bottom: 0px;
    }
    .testimonial-bot-right .carousel-item h2{padding-right: 20px; margin-top: -15px;}
    .footer-top .back-to-top{    right: 30%;
        bottom: 10%;}
    .footer-top .images img{
        height: 100%;
        width: 100%;
    }
    .footer-top .images a{display: block;float: left;height: 89px;width: 47%;margin: 2% 1.5%;}
    .footer-top .images{
        display: block;
        padding: 0 15px;
        width: 100%;
        height: 210px;
    }
    footer{height: 1300px;}
    .footer-top{height: 450px;}
    .footer-bot{height: 850px;}
    .one-footer-bot{
        text-align: center!important;
        border-bottom: 1px solid #1A6C8C;
    }
    .one-footer-bot-3 {border-bottom: none;}
    i.don-center{margin-left: -85px;}
}

    