/*Media Queries
Code by Proton*/
@media (max-width: 576px){
    body{
        overflow: visible;
    }
    .img-logo{
        display: none;
    }
    .btn-facebook{
        font-size: 14px;
    }
    .btn-google{
        font-size: 14px;
    }
    .a-sign-up{
        margin-left: 20px;
    }
    .btn-loginnow{
        width: 75%!important;
    }
}
@media only screen and (min-device-width : 577px) and (max-device-width : 767px){
    .img-logo{
        display: none;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 991px){
    .img-logo{
        display: none;
    }
}
